<%= form_for(@login) do |f| %>
  <% if @login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@login.errors.count, "error") %> prohibited this login from being saved:</h2>

      <ul>
      <% @login.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <div class="failure">
    	<%= flash[:notice] %>
    </div>
  <% end %>
	<div class="field">
		<p>
			User ID<br />
			<%= text_field_tag "userid" %>
		</p>
	</div>
	<div class="field">
		<p>
			Password<br />
			<%= text_field_tag "password" %>
		</p>
	</div>	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
