<h1>New user</h1>

<%= form_for(@user) do |f| %>
<%= f.label :userid , 'UserID' %>
<%= f.text_field :userid %>
<%= f.label :password , 'Password' %>
<%= f.password_field :password %>
<%= f.submit %>
<% end %>
