<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @word.problem %>
</p>

<p>
  <b>Answer:</b>
  <%= @word.answer %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
